@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap');

* {margin: 0; padding: 0; border: 0; box-sizing: border-box; transition: all 0.3s;}
a {text-decoration: none; color: black; cursor: pointer;}

body {
  font-family: 'Gothic A1', sans-serif;
}

.container {
  max-width: 1320px;
  margin: 1rem auto;
}

.wrapper_box {
 display: flex;
 justify-content: space-between;
 }

.side_menu {
  width: 23%;
   background-color: rgb(148, 145, 145);
}

.content {
width: 76%;
}

.content_box {
  display: grid;
  grid-template-columns:repeat(3, 33.33%);
  grid-template-rows:repeat(3, 33.33%);
  grid-template-areas: "item1 item1 item2"
                       "item1 item1 item3"
                       "item4 item5 item6"; 
}

.item_1 {
  grid-area: item1;
}

.item_2 {
  grid-area: item2;
}

.item_3 {
  grid-area: item3;
}

.item_4 {
  grid-area: item4;
}

.item_5 {
  grid-area: item5;
}

.item_6 {
  grid-area: item6;
}

.content_box a img {
  width: 100%;
  height: 100%;
}

.content_box a {
  position: relative;
}

.content_box a .item_text {
  position: absolute;
  bottom: 0.5rem;
  left: 1rem;
  color:white;
  text-shadow: -1px -1px 0 #585858, 1px -1px 0 #585858, -1px 1px 0 #585858, 1px 1px 0 #585858;
}

.item_type {
  font-size: 0.875rem;
  text-transform: uppercase;
}

.item_titel {
  font-size: 1.3125rem;
}

.item_data {
  font-size: 0.68rem;
}

@media screen and (max-width: 1200px){
  .side_menu {
    width: 29%;
  }
  .content {
  width: 70%;
  }
  .content_box {
    grid-template-columns:repeat(2, 50%);
    grid-template-rows:repeat(4, 25%);
    grid-template-areas: "item1 item1"
                         "item1 item1"
                         "item2 item3"
                         "item4 item5";
  }
  .item_6 {
    display: none;
  }
}

@media screen and (max-width: 767px){
  .side_menu {
  display: none;
  }
  .content {
  width: 100%;
  }
}
